ldaptive: add support for the generalized time format

```
Add a ValueTranscoder for encoding and decoding of the generalized time format.
See RFC 4517, section 3.3.13

http://tools.ietf.org/html/rfc4517#section-3.3.13

```

Original issue reported on code.google.com by `dfis...@gmail.com` on 17 Jun 2013 at 6:59


```
Fixed in r2736.
```

Original comment by `dfis...@gmail.com` on 20 Jun 2013 at 6:38
- Changed state: **Fixed**


```
I'm reopening to encourage consideration of the attached patch that implements 
parsing with a regular expression. It's about 100 lines shorter, clearer (less 
branching), and possible more performant. (Light testing showed equivalent 
performance within margin of error, but past experience with regex engine 
indicates it's usually faster than most manual parsing routines.)
```

Original comment by `marvin.addison@gmail.com` on 21 Jun 2013 at 8:01
- Changed state: **Reopened**

Attachments:
- [GeneralizedTimeValueTranscoder-regex.diff](https://storage.googleapis.com/google-code-attachments/vt-middleware/issue-167/comment-2/GeneralizedTimeValueTranscoder-regex.diff)


```
Applied patch with the following modifications:
  * Made default locale static final
  * created static final Strings for each regex part
  * Checkstyle fixes

Fixed in r2740.

```

Original comment by `dfis...@gmail.com` on 21 Jun 2013 at 9:09
- Changed state: **Fixed**
