vt-crypt: Create API for Reading X.509v3 Certificate Extended Properties

```
The JSSE X509Certificate object has a very limited interface to certificate
extensions; see section 4.2 of http://www.faqs.org/rfcs/rfc2459.html.  We
have a use case at VT to read the "Certificate Policies" extended
attribute, which is not exposed.  Exposing that and the other extended
attributes of section 4.2 of RFC-2459 via a convenient API would be
generally useful.


```

Original issue reported on code.google.com by `marvin.addison@gmail.com` on 6 Apr 2009 at 1:46


Original comment by `dfis...@gmail.com` on 1 Jun 2009 at 8:49
- Changed title: **vt-crypt: Create API for Reading X.509v3 Certificate Extended Properties**


```
Started work on issue 2009-08-05.
```

Original comment by `marvin.addison@gmail.com` on 7 Aug 2009 at 7:44
- Changed state: **Started**


```
Discussion w/Frank Galligan and Ismael Alaoui from eProv group about adding 
support
for rare/uncommon extensions:

Hi Frank.  As part of the vt-crypt open source Java crypto library that
Middleware develops and maintains, we are developing a user-friendly API
to read the extended attributes from X.509 certs,
http://code.google.com/p/vt-middleware/issues/detail?id=1.  I've
completed support for all extended attributes for which we have test
cases, but the following extended attributes are not implemented for
lack of test data:

 - NameConstraints
 - PolicyConstraints
 - PolicyMappings
 - PrivateKeyUsagePeriod
 - SubjectDirectoryAttributes

Ideally we would like to be feature complete since we've gone this far
with the API, but the lack of test data makes further progress
difficult.  Does your group have any resources to generate certificates
with arbitrary extensions enabled such that you could help us produce
test cases for the remaining attributes?

Thanks,
Marvin
-------------------------------------
-------------------------------------
Marvin,

Our CA system (EJBCA) offers the most common attributes by default and the
ability to add custom attributes if needed, it appears that none of the ones
you need are available in the standard release. At this point, we don't have
any experience with custom attributes, so this will require further
research. Also each custom attribute will require the implementation of a
separate java class rather than a quick config file change.

The question is, how important is it to have these and are there any time
constraints? We can investigate this further and do some testing on our
preprod system but based on current project load, we can't promise a very
quick turnaround. 

Ismael
-------------------------------------
-------------------------------------
> The question is, how important is it to have these and are there any  
> time
> constraints?

I would defer to your judgement on importance.  I get the impression  
that they are uncommon based upon a very unscientific sampling of  
certificates.  If they are in fact uncommon, it would make them less  
important in my view.  That said I would certainly appreciate your  
input on their importance.

We have no time constraints on this project; it's simply an  
improvement based on a use case we ran into in the CAS project  
handling the LOA values.

> We can investigate this further and do some testing on our
> preprod system but based on current project load, we can't promise a  
> very
> quick turnaround.

I sincerely appreciate your willingness to do some investigation, but  
I think I'm leaning toward omitting support for these attributes at  
present.  Would you agree that their use in real-world circumstances  
is rare?  If so, then we won't support these until a use case arises.

Thanks,
M
-------------------------------------
-------------------------------------
We feel the same as far as these attributes being uncommon and may only be
needed for very specific applications. So far we haven't seen any interest
or requests to add them to our certificates, some of these attributes also
only apply to CA certificates.

Like you said, if we come across a situation where we must support some of
these then we could accommodate that when time comes, but right now it would
be safe to no worry about them.

Ismael 

```

Original comment by `marvin.addison@gmail.com` on 13 Aug 2009 at 1:02


```
The API is complete with the exception of the following uncommon extension 
fields:

 - NameConstraints
 - PolicyConstraints
 - PolicyMappings
 - PrivateKeyUsagePeriod
 - SubjectDirectoryAttributes

We would be happy to provide support for any of the above if a use case arises 
for
which we can obtain a reasonable test case to verify the implementation.
```

Original comment by `marvin.addison@gmail.com` on 13 Aug 2009 at 1:05
- Changed state: **Verified**
