ldaptive: add schema support classes

```
RFC 4512 section 4 describes directory schema definitions.
It would be useful to have data structures to model those definitions with 
corresponding ValueTranscoders.

```

Original issue reported on code.google.com by `dfis...@gmail.com` on 3 Mar 2014 at 6:56


```
Fixed in r2894.
```

Original comment by `dfis...@gmail.com` on 7 Mar 2014 at 3:57
- Changed state: **Fixed**
