vt-crypt:  X.509 Certificate DN Formatter

```
Create a DN formatter for X.509 certificates, modeled loosely on
DateFormat, that can take a format string and produce the certificate DN of
a given certificate in that format.  Some representative code to that end:

X509CertificateDnFormatter f = new
X509CertificateDnFormatter("CN/EMAIL,OU,DC");
f.format(certificate);

The above should create a DN such as the following:
CN=host.example.com/emailAddress=admin@example.com,OU=Central,DC=example,DC=com

The format string should support the following keywords/tokens for
representing DN components:
 - Keys in section 2.3 of http://www.ietf.org/rfc/rfc1779.txt
 - AttributeType strings listed in section 2.3 of
http://www.ietf.org/rfc/rfc2253.txt
 - Other strings explicitly mentioned in
http://java.sun.com/j2se/1.5.0/docs/api/javax/security/auth/x500/X500Principal.h
tml#X500Principal(java.lang.String).
```

Original issue reported on code.google.com by `marvin.addison@gmail.com` on 3 Sep 2009 at 5:18


Original comment by `marvin.addison@gmail.com` on 4 Sep 2009 at 1:10
- Changed state: **Started**


```
This feature has been committed, but not as stated originally.  It was 
determined
that a keyword-based implementation would require explicit knowledge of 
certificate
DN attributes that could vary greatly over time and with different issuers, thus
preventing a generalized solution.

It was determined that a strategy pattern-based solution, DNFormatter, is
generalizable and could provide for both the immediate need for something that 
is
suitable for LDAPv3 DSAs and extensibility for future needs.  The default 
formatter
implementation, LDAPv3DNFormatter, conforms to section 2 of RFC 2253, LADPv3
Distinguished Names.
```

Original comment by `marvin.addison@gmail.com` on 8 Sep 2009 at 7:17
- Changed state: **Fixed**
